.admin-dashboard {
    width: 80%;
    margin: 0 auto;
  }
  
  .admin-dashboard h1,
  .admin-dashboard h2 {
    text-align: center;
  }
  
  .admin-dashboard table {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .admin-dashboard table th,
  .admin-dashboard table td {
    padding: 1rem;
    border: 1px solid #ddd;
  }
  
  .admin-dashboard form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .admin-dashboard form input {
    margin-right: 1rem;
  }
  